.demo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;

  @include respond(phone) {
    margin-top: -1rem;
    padding: 0;
  }
}
#globe-3d,
#globe-2d-overlay,
#globe-popup-overlay,
.globe-popup {
  display: block;
  position: absolute;
}
#globe-2d-overlay,
#globe-popup-overlay {
  pointer-events: none;
}
.globe-popup-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.globe-popup {
  top: 0;
  left: 0;
  background-color: rgba(75, 192, 200, 0.9);
  opacity: 0;
  color: #111;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

// .point {
//   width: 100%;
//   height: 100%;
//   background: white;
//   position: absolute;
//   left: 50%;
//   top: 25%;
//   z-index: 99999;
// }
